<div id="map_canvas" style="border: 2px solid #3872ac; height: 50%; width: 50% "></div><br>

<h2 class='test'></h2>

<h3>Please, input your e-mail address to send e-mail</h3>

<input id="emailInput" type="text"> 

<table class='table-bordered'>
	<tr>
		<th>User Name</th>
		<th>Job Name</th>
		<th>Title & Organization</th>
		<th>Duration & Payment</th>
		<th>Average wages</th>
		<th>Click to show <br>location in map</th>
		<th>Send me e-mail</th>
		<th>Delete</th>
	</tr>
	<% jobsObjects.forEach(function(object, i) { %>
		<tr >
			<td ><%= object.userName %></td>		
			<td ><%= object.jobName %></td>
					<p class="hide"><%= oneJobJSON = object.selectedList[0] %>	
					<%= oneJobObject = JSON.parse(oneJobJSON) %></p>
			<td id="a<%= i %>">Title: <%= oneJobObject.position_title %> <br>
					Organization: <%= oneJobObject.organization_name %> <br>
					<a href="<%= oneJobObject.url %>">Link to the posting</a> 
			</td>
			<td>Duration: <%= oneJobObject.start_date %> ~ <%= oneJobObject.end_date %><br>
					<strong>Payment</strong><br>
					minimum: $ <%= oneJobObject.minimum %><br>
					maximum: $ <%= oneJobObject.maximum %>
			</td>		
				<% object.joblist %>
					<% index = "" %>
					<%	min = 0, max = 0 %>
					<% object.joblist.forEach(function(oobje, j) { %>
					 <%	min += oobje.minimum %>
					 <% max += oobje.maximum %><% index = j %>
					<% }) %>
			<td>min: $ <%= min/(index+ 1) %> <br>
					max: $ <%= max/(index+ 1) %>
			</td>
			<td class="address"><%= [oneJobObject.locations] %></td>
			<td><button class="email" iter=<%= i %> >Click to email</button></td>
			<td>
				<form action="/jobs/<%= object._id %>?_method=DELETE" method="post">
					<input type="submit" value="delete">	
				</form>
			</td>
		</tr>		
	<% }) %>				
</table>

